<h1>Showing Article Details</h1>
<p><strong>Title: </strong><%= @article.title%></p>
<p><strong>Description: </strong><%= @article.description%></p>
<%= link_to "Back to articles", articles_path %> |
<%= link_to "Edit article", edit_article_path(@article) %> |
<%= link_to "Delete article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
